---
import "../../styles/global.css";
import Layout from '../../layouts/Layout.astro';
---
<Layout>
    <main class="grid min-h-screen grid-cols-1 max-w-screen-md mx-auto p-4 gap-4">
        <div class="col-span-1">
            <h1 class="text-5xl py-10 leading-16">Eric Frommelt is a California based Artist + Illustrator</h1>
            <p class="mt-2">Eric's work &mdash; driven by intuition, form, and narrative paired with photography, digital paint, and typography &mdash; explores storytelling through digital collage. As an Illustrator, Eric has been commissioned by ESPN, Fast Company, Fortune, Forbes, IBM, Mtv, Ogilvy, Slack, and Wired.</p>
            <h6 class="font-bold mt-20">Commissions + Inquiries</h6>
            <h3 class="text-3xl"><a href="mailto:eric@ericfrommelt.com" class="hover:underline">eric@ericfrommelt.com</a></h3>
            <h3 class="pt-10"><span class="font-bold">Instagram:</span> <a href="https://www.instagram.com/eric.frommelt/" class="hover:underline">@eric.frommelt</a></h3>
            <h3><span class="font-bold">Threads:</span> <a href="https://www.threads.com/@eric.frommelt" class="hover:underline">@eric.frommelt</a></h3>
        </div>
    </main>
</Layout>