---
const today = new Date();
---

<footer class="grid grid-cols-1 md:grid-cols-3 p-4 py-4">

	<div class="py-4">
	<h6 class="text-sm bold">Email</h6>
	<ul class="flex flex-col text-sm">
		<li>
		<a href="mailto:eric@ericfrommelt.com" class="hover:underline">
			eric@ericfrommelt.com
		</a>
		</li>
	</ul>
	</div>

	<div class="py-4">
	<ul class="flex flex-col text-sm">
		<li>
		<a href="https://www.threads.com/@eric.frommelt" class="hover:underline">
			Threads
		</a>
		</li>
		</li>
		<li>
		<a href="https://www.instagram.com/eric.frommelt/" class="hover:underline">
			Instagram
		</a>
		</li>
		<li>
		<a href="https://www.pinterest.com/ericfrommelt/_profile/" class="hover:underline">
			Pinterest
		</a>
		</li>
	</ul>
	</div>
	<div class="py-4 pb-10 text-sm md:text-right">
	&copy; {today.getFullYear()} Eric Frommelt

	</div>
</footer>