---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import efIcon from '../assets/EF-HeaderIcon.svg';
---

<header class="flex items-center justify-between p-10">
	<div class="flex items-center space-x-4">
	<a href="/" class="flex items-center">
		<img src={efIcon.src} alt="Logo" width={40} height={40} class="h-10 w-10 dark:invert" />
	</a>
	</div>
	<nav>
	<ul class="flex space-x-4 text-lg">
		<li><a href="/info" class="hover:underline medium">Info</a></li>
	</ul>
	</nav>
</header>
